<footer>
<div class="row">
    <div class="col-md-6">
        <i style="font-size: 40px; margin-left: 40px;" class="fas fa-shipping-fast">&nbsp;
        </i>
        <strong style="font-size: 30px;">Flipkart</strong>
        <p style="text-align: left;margin-left: 255px; font-size: 15px">Copyright © 2023 Flipkart</p>
        <p style="text-align: left;margin-left: 255px; font-size: 15px">All rights reserved</p>
    </div>
    <div class="col-md-6">
            <h5 style="font-size: 15px;text-align: left;margin-left: 200px;">Registered Office Address:</h5>
            <p style="text-align: left;margin-left: 200px; font-size: 13px;">Flipkart Internet Private Limited,<br/>
                Buildings Alyssa,Outer Ring Road,<br/>              
                Devarabeesanahalli Village,<br/>               
                Bengaluru, 560103,<br/>               
                Karnataka, India<br/>                            
                Telephone: 044-45614700</p>
    </div>
</div>
  </footer>