<!-- <form (ngSubmit)="verifyEmail()">
<div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" placeholder="Enter email">
  </div>
  <button class="btn btn-primary">Submit</button>
</form> -->

<form [formGroup]="verifyForm" (ngSubmit)="verifyEmail()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
    </div>
    <button class="btn btn-primary" [disabled]="!verifyForm.valid">Submit</button>
  </form>