.card1{
    width: 50%;
    height: 500px;
    margin-top: 3%;
    margin-left: 25%;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0;
    transition: 0.3s;
    margin-bottom: 60px;
}

.image{
    width:80%;
    height: 300px;
    margin-top: 20%;
    margin-left: 8%;
}

.details{
    margin-top: 12%;
    
}

.hidden{
    width: 100%;
    line-height: 1.2em;
    height: 3.6em;
    /* background-color: gainsboro; */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}