  

<div class="card card1">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <img class="card-img-top image" [src]="product.image" alt="Product image">
        </div>
          <div class="col-md-6 details">
          <h3 class="card-title" style="font-style: italic;">{{product.title}}</h3>
          <p class="card-text hidden"><strong>Description:</strong> {{product.description}}</p>
          <p class="card-text"><strong>Price:</strong> ${{product.price}}</p>
          <div class="row">
            <div class="col-md-6 details">
              <button class="btn btn-primary" style="margin-top: 15px;margin-left: 25px;" (click)="addTocart(product)">Add to Cart</button>
            </div>
            <div class="col-md-6 details">
              <button class="btn btn-secondary" style="margin-top: 15px; margin-right: 10px;" (click)="backTohome()">Back to Home</button>
            </div>
          </div>
          </div>
      </div>
    </div>
  </div>