
<div class="container py-5 h-100 ">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-3">
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="verifyEmail()">
                        <div class="form-group">
                          <label style="font-weight: bold; font-size: 22px;">Email:</label>
                          <input type="email" formControlName="email" class="form-control mt-2">
                        </div>
                        <button type="submit" class="btn btn-secondary mt-3">Verify</button>
                      </form>
                      <div *ngIf="userFound">
                        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                          <div class="form-group mt-3">
                            <label style="font-weight: bold; font-size: 22px;">New Password:</label>
                            <input type="password" formControlName="newPassword" class="form-control mt-2">
                          </div>
                          <button type="submit" class="btn btn-success mt-3">Reset</button>
                        </form>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>     

  